{#
# Variables
#  - data: Data related to booking and resource.
#}

<!DOCTYPE html>
<html lang="da">
{% include 'inline-email-head.html.twig' %}
<body>
<table role="presentation" cellspacing="0" cellpadding="24" border="0" align="center" class="document">
    <tr>
        <td valign="top">
            <table role="presentation" cellspacing="0" cellpadding="24" border="0" align="center" width="750" class="container" style="background-color: #ffffff;">
                <tr>
                    <td>
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tr>
                                <td>
                                    <table class="top" role="presentation" cellspacing="0" cellpadding="6" border="0" align="right" width="100%">
                                        <tr>
                                            <td>
                                                <div><img align="right" height="50" alt="logo" src="{{ absolute_url(asset('images/logo.png')) }}" ></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="header" role="presentation" cellspacing="0" cellpadding="6" border="0" align="left" width="100%">
                                        <tr>
                                            <td>
                                                <h2>{{ data.subject }}</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ data.message }}
                                            </td>
                                        </tr>
                                    </table>
                                    {% if data.booking is defined and data.booking is not null %}
                                    <table class="booking zebra" cellspacing="0" cellpadding="6" border="0" align="left" width="100%"style="border-bottom: 1px solid #E9ECEF;">
                                        <tr>
                                            <td>
                                                <h3>{{ 'Booking' }}</h3>
                                            </td>
                                        </tr>
                                        <tr class="subject">
                                            <td>{{ 'Emne:' }}</td>
                                            <td>{{ data.booking.subject }}</td>
                                        </tr>
                                        <tr class="start-time">
                                            <td>{{ 'Starttidspunkt:' }}</td>
                                            <td>{{ data.startFormatted }}</td>
                                        </tr>
                                        <tr class="end-time">
                                            <td>{{ 'Sluttidspunkt:' }}</td>
                                            <td>{{ data.endFormatted }}</td>
                                        </tr>
                                        {# Metadata fields #}
                                        {% if data.booking.metaData is defined and data.booking.metaData is not null %}
                                            {% for key, value in data.booking.metaData %}
                                                <tr class="{{ key }}">
                                                    <td>{{ key }}</td><td>{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                    {% endif %}
                                    {% if data.resource is defined and data.resource is not null %}
                                    <table class="resource zebra" cellspacing="0" cellpadding="6" border="0" align="left" width="100%" style="border-bottom: 1px solid #E9ECEF;">
                                        <tr>
                                            <td>
                                                <h3>{{ 'Ressource / Lokale' }}</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Lokation:' }}</td>
                                            <td>{{ data.resource.location }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Ressource / Lokale:' }}</td>
                                            <td>{{ data.resource.resourceDisplayName ?? data.resource.resourceName }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Ressource mail:' }}</td>
                                            <td>{{ data.resource.resourceMail }}</td>
                                        </tr>
                                    </table>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <table class="container" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="12" border="0" align="center" width="750"><tr><td><!-- vertical spacing --></td></tr></table>
                        <table class="container" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="12" border="0" align="center" width="750"><tr><td><!-- vertical spacing --></td></tr></table>
                        <table class="container" role="presentation" cellspacing="0" cellpadding="6" border="0" align="center" width="750">
                            <tr>
                                <td>
                                    Dette er en automatisk mail sendt fra Book Aarhus og kan ikke besvares.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
